#mic-icon{
    position: absolute;
    right: 51%;
    bottom:0%;
    
    
}
#mic-icon:hover{
    box-shadow: 1px 1px 2px 1px darkgray;
}
#src-icon{
    position: absolute;
    left: 51%;
    bottom: 0%;
}
#src-icon:hover{
    box-shadow: 1px 1px 2px 1px darkgray;
}
.btn-primary{
    position: absolute;
    padding: 5px;
    top: 2%;
    left: 2%;
    color: white;
    border: 0;
    box-shadow: 1px 1px 1px 1px darkgray;
    background-color: rgb(255, 96, 96);
    border-radius: 3px;
}
.btn-primary:hover{
   
    /* box-shadow: 1px 1px 1px 1px rgb(99, 97, 97); */
    background-color: rgb(197, 28, 28);
}