body {
  /* font-family: 'Roboto', sans-serif; */
  font: Montserrat;
  background-color: rgb(45 40 84);
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 0px auto;
}

h2 {
  font: Montserrat;
  color: darkorange;
}
#form-box {
  background-color: white;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 30px;
  width: fit-content;
  left: 40%;
  border-radius: 20px;
  position: absolute;
}
#signInButton {
  /* border: 1px solid black; */
  margin-top: 10px;
  /* position: absolute; */
}
